*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: purple;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .select-form{
    background-color: blue;
    gap: 15rem;
    text-align: center;
    height: 45vh;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container .forms .form {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    flex-wrap: wrap;
    width: 22.5vw;
}


.container  .forms .signupform{
    display: none;
 }
 